#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define L_DEF 0
#define L_SYM 1
#define L_NAV 2

&lt { quick_tap_ms = <200>; };
&mt { quick_tap_ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &bootloader  &kp ESC  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  /**/  &kp U  &kp I  &kp O  &kp P  &kp BSLH  &bootloader
                &lt L_SYM CAPSLOCK  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  /**/  &kp J  &kp K  &kp L  &lt L_NAV SEMI  &mt RCTRL SQT
                &mt LSHIFT LPAR  &mt LCMD Z  &mt LALT X  &mt LCTRL C  &kp V  &kp B  &kp N  /**/  &kp M  &mt RCTRL COMMA  &mt RALT DOT  &mt RCMD FSLH  &mt RSHIFT RPAR
                &kp SPACE  &kp BACKSPACE  &none  /**/  &none &kp TAB  &kp ENTER
            >;
        };
        symbol_layer {
            bindings = <
                &none  &none  &kp EXCL  &kp HASH  &kp LBRC  &kp RBRC  &kp SLASH  /**/  &kp KP_EQUAL  &kp N7  &kp N8  &kp N9  &kp AMPERSAND  &kp PIPE  &none
                &none  &kp AT  &kp DOLLAR  &kp LPAR  &kp RPAR  &kp GRAVE  /**/  &kp N0  &kp N4  &kp N5  &kp N6  &none  &none
                &none  &kp LCTRL  &kp LALT  &kp LBKT  &kp RBKT  &kp TILDE  /**/  &kp KP_MINUS  &kp N1  &kp N2  &kp N3  &kp SLASH  &none
                &none  &kp DELETE  &none  /**/  &none  &none  &none
             >;
        };
        navigation_layer {
            bindings = <
                &none  &none  &none  &none  &none  &none  &none  /**/  &kp C_BRIGHTNESS_DEC  &kp K_VOLUME_DOWN  &kp K_VOLUME_UP  &kp C_BRIGHTNESS_INC  &kp K_MUTE  &none  &none
                &none  &none  &none  &none  &none  &none  /**/  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none  &none
                &none  &none  &none  &none  &none  &none  /**/  &none  &kp PAGE_DOWN  &kp PAGE_UP  &none  &none  &none
                &none  &none  &none  /**/  &none  &none  &none
             >;
        };
    };
};
